.status-dot {
  display: flex;
  align-items: center;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  left: 0;
  top: 0;
  transform: scale(0.5);
  cursor: pointer;
}

.de {
  background: green;
  box-shadow: 0 0 0 0 rgba(82, 255, 82, 1);
  animation: pulse-green 2s infinite;
}

.pe {
  background: red;
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

.status-text {
  margin-left: 10px;
}




@keyframes pulse-red {
0% {
  transform: scale(0.85);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
}

70% {
  transform: scale(1);
  box-shadow: 0 0 0 25px rgba(255, 82, 82, 0);
}

100% {
  transform: scale(0.85);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
}
}

@keyframes pulse-green {
0% {
  transform: scale(0.85);
  box-shadow: 0 0 0 0 rgba(82, 255, 82, 0.7);
}

70% {
  transform: scale(1);
  box-shadow: 0 0 0 25px rgba(82, 255, 82, 0);
}

100% {
  transform: scale(0.85);
  box-shadow: 0 0 0 0 rgba(82, 255, 82, 0);
}
}
